# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
iac/.terraform/
iac/.terraform.lock.hcl
iac/terraform.tfstate
iac/terraform.tfstate.backup
iac/*.tfvars

# LocalStack
.localstack/

# Lambda packages
lambdas/*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
